.common-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 16px 80px 16px;
}
.yui-page-side {
    z-index: 1000000;
    background-color: #fff;
}
.yui-page-common .yui-page-header {
    z-index: 1000000;
}
blockquote {
    margin: 0;
    padding: 1px 16px;
}
.ui-article blockquote {
    border-left: 4px solid #aaa;
}
html,
body,
#app {
    height: 100%;
}
.ui-page-common .ui-page-header {
    z-index: 10000;
}
.page-editor .ui-page-container {
    padding: 0;
    height: 100%;
}
.ace_editor {
    height: 1000%;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}
.editor-box {
    position: absolute;
    top: 64px;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
}
.preview-box {
    position: absolute;
    top: 64px;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 16px;
    overflow: auto
}

.tool-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 64px;
}

@media all and (max-width: 800px) {
    .mode-editor {
        .editor-box {
            width: 100%;
        }
        .preview-box {
            display: none;
        }
    }
}

.mode-preview {
    .editor-box {
        display: none;
    }
    .preview-box {
        width: 100%;
    }
}